<footer id="footer" class="app-footer">
    <div class="copyright">
        &copy; Copyright <strong><span>ComputerAvenue</span></strong> | All Rights Reserved
    </div>
  </footer>

<script src="../../../public/assets/plugins/popper.min.js"></script>
<script src="../../../public/assets/plugins/bootstrap/js/bootstrap.min.js"></script>

<!-- Page Specific JS -->
<script src="../../../public/assets/js/app.js"></script>

